<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-head">
      <% if chalet.chalet_pictures.any? %>
        <%= image_tag(chalet.chalet_pictures.first.picture.url(:medium), alt: "Chalet Picture") %>
      <% else %>
        <%= image_tag("http://lorempixel.com/g/400/300/nature/") %>
      <% end %>
      <div class="card-title">
        <h2><%= chalet.title %></h2>
        <h3><%= chalet.city %></h3>
      </div>
    </div>
    <div class="card-content">
      <p><%= "#{chalet.daily_price} euros a night" %></p>
      <p><%= "#{chalet.max_nb_of_guests} guests per night" %></p>
    </div>
    <div class="card-action">
      <%= link_to "View", chalet_path(chalet), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>