<div class="body-wrapper">

<div class="chalet-name text-right">
  <h2><%= @chalet.title %> </h1>
  <h3> <%= @chalet.city %> </h2>
</div>


  <% if @chalet.chalet_pictures.any? %>
    <div class="centered-carousel">
      <div class="owl-carousel">
        <% @chalet.chalet_pictures.each do |pic| %>
          <div> <%= image_tag pic.picture.url(:cover) %> </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="centered-carousel">
      <div class="owl-carousel">
          <div> <%= image_tag "default_chalet_picture.jpg" %> </div>
      </div>
    </div>
  <% end %>



  <% if current_user == @chalet.user %>
    <div class="booking">
      <%= link_to "Edit chalet", edit_account_chalet_path(@chalet), class: "btn btn-success btn-lg" %>
      <%= link_to "Remove chalet", account_chalet_path(@chalet), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-success btn-lg" %>
    </div>

  <% elsif user_signed_in? %>
    <div class="booking">
      <%= link_to "Book this chalet", new_chalet_booking_path(@chalet), class: "btn btn-success btn-lg" %>
    </div>

  <% else %>
    <div class="booking">

      <%= link_to "Sign in to book this chalet", new_user_session_path, class: "btn btn-success btn-lg" %>
    </div>
  <% end %>





<div class="container" id="chalet-show">
  <div class="row">
    <div class="col-xs-12 col-md-4" id="owner">
      <%= image_tag @user.picture, class: "picture-owner" %>
      <p> <%= link_to @user.first_name, user_path(@user) %> </p>
      <p> <%= @user.email %> </p>
    </div>


    <div class="col-xs-12 col-md-4" id="guests">
      <h3> <i class="fa fa-bed"></i>: <%= @chalet.max_nb_of_guests %> </h3>
    </div>

    <div class="col-xs-12 col-md-4" id="price">
      <h3> <i class="fa fa-money"></i>: <%= @chalet.daily_price %>$/night</h3>
    </div>

    <div class="col-xs-12 col-md-6" id="description">
      <p> <%= @chalet.description %> </p>
    </div>
  </div>
</div>

</div>